<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="PathToolsRSE.copyPathCommand"
            name="Copy Path">
         <defaultHandler
               class="pathtoolsrse.CopyPathHandler">
         </defaultHandler>
      </command>
      <command
            id="PathToolsRSE.exploreCommand"
            name="Explore">
         <defaultHandler
               class="pathtoolsrse.ExploreHandler">
         </defaultHandler>
      </command>
      <command
            id="PathToolsRSE.shellCommand"
            name="Command Line Shell">
         <defaultHandler
               class="pathtoolsrse.ShellHandler">
         </defaultHandler>
      </command>
      <command
            id="PathToolsRSE.rsync.rse.generateCommand"
            name="Generate rsync configuration...">
         <defaultHandler
               class="pathtoolsrse.rsync.RSERsyncHandler">
         </defaultHandler>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="PathToolsRSE.copyPathCommand"
            icon="platform:/plugin/PathTools/icons/copypaths.gif">
      </image>
      <image
            commandId="PathToolsRSE.exploreCommand"
            icon="platform:/plugin/PathTools/icons/explore.gif">
      </image>
      <image
            commandId="PathToolsRSE.shellCommand"
            icon="platform:/plugin/PathTools/icons/shell.gif">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="pathtoolsrse"
               label="Path Tools">
            <separator
                  name="additions"
                  visible="false">
            </separator>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        operator="or">
                     <instanceof
                           value="org.eclipse.rse.subsystems.files.core.subsystems.IRemoteFile">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:pathtoolsrse?after=additions">
         <command
               commandId="PathToolsRSE.copyPathCommand"
               label="Copy Path"
               style="push">
		<visibleWhen
                  checkEnabled="false">
               <with 
            variable="selection"> 
         <iterate 
               operator="or"> 
            <instanceof
                  value="org.eclipse.rse.subsystems.files.core.subsystems.IRemoteFile">
            </instanceof> 
         </iterate> 
      </with> 
            </visibleWhen>
         </command>
         <command
               commandId="PathToolsRSE.exploreCommand"
               label="Explore"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <and>
                     <iterate
                           operator="or">
                        <instanceof
                              value="org.eclipse.rse.internal.subsystems.files.local.model.LocalFile">
                        </instanceof>
                     </iterate>
                     <count
                           value="1">
                     </count>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="PathToolsRSE.shellCommand"
               label="Command Line Shell"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <and>
                     <iterate
                           operator="or">
                        <instanceof
                              value="org.eclipse.rse.internal.subsystems.files.local.model.LocalFile">
                        </instanceof>
                     </iterate>
                     <count
                           value="1">
                     </count>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="PathToolsRSE.separator"
               visible="true">
         </separator>
         <command
               commandId="PathToolsRSE.rsync.rse.generateCommand"
               label="Generate rsync configuration..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <and>
                     <iterate
                           operator="or">
                        <instanceof
                              value="org.eclipse.rse.internal.subsystems.files.local.model.LocalFile">
                        </instanceof>
                     </iterate>
                     <count
                           value="1">
                     </count>
                  </and>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
