<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="PathTools.actionSet.toolbar"
            label="Path Tools"
            visible="true">
         <menu
               id="pathtools"
               label="Path Tools"
               path="File/additions">
            <groupMarker
                  name="additions">
            </groupMarker>
            <separator
                  name="separator">
            </separator>
         </menu>
         <action
               class="pathtools.CustomWindowPulldownAction"
               icon="icons/command.gif"
               id="PathTools.Custom.submenu"
               label="Custom commands..."
               menubarPath="File/pathtools/separator"
               style="pulldown">
         </action>
         <action
               class="pathtools.ShellWindowPulldownAction"
               icon="icons/shell.gif"
               id="PathTools.Shell.submenu"
               label="Command Line Shell"
               menubarPath="File/pathtools/separator"
               style="pulldown">
         </action>
         <action
               class="pathtools.ExploreWindowPulldownAction"
               icon="icons/explore.gif"
               id="PathTools.Explore.submenu"
               label="Explore"
               menubarPath="File/pathtools/separator"
               style="pulldown">
         </action>
         <action
               class="pathtools.CustomWindowPulldownAction"
               icon="icons/command.gif"
               id="PathTools.Custom.menu"
               label="Custom commands"
               menubarPath="File/pathtools/additions"
               style="push">
         </action>
         <action
               class="pathtools.EditAction"
               icon="icons/editpath.gif"
               id="PathTools.Edit.menu"
               label="Open in external editor..."
               menubarPath="File/pathtools/additions"
               style="push">
         </action>
         <action
               class="pathtools.ShellWindowPulldownAction"
               icon="icons/shell.gif"
               id="PathTools.Shell.menu"
               label="Command Line Shell"
               menubarPath="File/pathtools/additions"
               style="push">
         </action>
         <action
               class="pathtools.ExploreWindowPulldownAction"
               icon="icons/explore.gif"
               id="PathTools.Explore.menu"
               label="Explore"
               menubarPath="File/pathtools/additions"
               style="push">
         </action>
         <action
               class="pathtools.CopyPathWindowPulldownAction"
               icon="icons/copypaths.gif"
               id="PathTools.CopyPath.menu"
               label="Copy Paths"
               menubarPath="Edit/additions"
               style="pulldown">
         </action>
         <action
               class="pathtools.CustomWindowPulldownAction"
               icon="icons/command.gif"
               id="PathTools.Custom.toolbar"
               label="Custom commands..."
               style="pulldown"
               toolbarPath="Normal/PathTools">
         </action>
         <action
               class="pathtools.EditAction"
               icon="icons/editpath.gif"
               id="PathTools.Edit.toolbar"
               label="Open in external editor..."
               style="pulldown"
               toolbarPath="Normal/PathTools">
         </action>
         <action
               class="pathtools.ShellWindowPulldownAction"
               icon="icons/shell.gif"
               id="PathTools.Shell.toolbar"
               label="Command Line Shell"
               style="pulldown"
               toolbarPath="Normal/PathTools">
         </action>
         <action
               class="pathtools.ExploreWindowPulldownAction"
               icon="icons/explore.gif"
               id="PathTools.Explore.toolbar"
               label="Explore"
               style="pulldown"
               toolbarPath="Normal/PathTools">
         </action>
         <action
               class="pathtools.CopyPathWindowPulldownAction"
               icon="icons/copypaths.gif"
               id="PathTools.CopyPath.toolbar"
               label="Copy Paths"
               style="pulldown"
               toolbarPath="Normal/PathTools">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="PathTools.objectContribution"
            objectClass="org.eclipse.core.resources.IResource">
  <menu
        id="pathtools"
        label="Path Tools"
        path="additions">
     <groupMarker
           name="additions">
     </groupMarker>
     <separator
           name="separator">
     </separator>
  </menu>
           <action
               class="pathtools.CustomAction"
               enablesFor="1"
               icon="icons/command.gif"
               id="PathTools.Custom.submenu"
               label="Custom"
               menubarPath="pathtools/separator"
               style="pulldown">
            <enablement>
	         <or>
	            <objectClass 
	               name="org.eclipse.core.resources.IResource"/>
	            <objectClass 
	               name="org.eclipse.core.runtime.IAdaptable"/>
	         </or>
      		</enablement>
         </action>
         <action
               class="pathtools.ShellAction"
               enablesFor="1"
               icon="icons/shell.gif"
               id="PathTools.Shell.submenu"
               label="Command Line Shell"
               menubarPath="pathtools/separator"
               style="pulldown">
            <enablement>
	         <or>
	            <objectClass 
	               name="org.eclipse.core.resources.IResource"/>
	            <objectClass 
	               name="org.eclipse.core.runtime.IAdaptable"/>
	         </or>
      		</enablement>
         </action>
         <action
               class="pathtools.ExploreAction"
               enablesFor="1"
               icon="icons/explore.gif"
               id="PathTools.Explore.submenu"
               label="Explore"
               menubarPath="pathtools/separator"
               style="pulldown">
            <enablement>
	         <or>
	            <objectClass 
	               name="org.eclipse.core.resources.IResource"/>
	            <objectClass 
	               name="org.eclipse.core.runtime.IAdaptable"/>
	         </or>
      		</enablement>
         </action>
         <action
               class="pathtools.CopyPathAction"
               enablesFor="+"
               icon="icons/copypaths.gif"
               id="PathTools.CopyPath.submenu"
               label="Copy Paths"
               menubarPath="pathtools/separator"
               style="pulldown">
			<enablement>
	         <or>
	            <objectClass 
	               name="org.eclipse.core.resources.IResource"/>
	            <objectClass 
	               name="org.eclipse.core.runtime.IAdaptable"/>
	         </or>
      		</enablement>
     	</action>  
         <action
               class="pathtools.CustomAction"
               enablesFor="1"
               icon="icons/command.gif"
               id="PathTools.Custom"
               label="Custom..."
               menubarPath="pathtools/additions"
               style="push">
            <enablement>
	         <or>
	            <objectClass 
	               name="org.eclipse.core.resources.IResource"/>
	            <objectClass 
	               name="org.eclipse.core.runtime.IAdaptable"/>
	         </or>
      		</enablement>
         </action>
         <action
               class="pathtools.EditAction"
               enablesFor="1"
               icon="icons/editpath.gif"
               id="PathTools.Edit"
               label="Open in external editor..."
               menubarPath="pathtools/additions"
               style="push">
            <enablement>
	         <or>
	            <objectClass 
	               name="org.eclipse.core.resources.IResource"/>
	            <objectClass 
	               name="org.eclipse.core.runtime.IAdaptable"/>
	         </or>
      		</enablement>
         </action>
         <action
               class="pathtools.ShellAction"
               enablesFor="1"
               icon="icons/shell.gif"
               id="PathTools.Shell"
               label="Command Line Shell"
               menubarPath="pathtools/additions"
               style="push">
            <enablement>
	         <or>
	            <objectClass 
	               name="org.eclipse.core.resources.IResource"/>
	            <objectClass 
	               name="org.eclipse.core.runtime.IAdaptable"/>
	         </or>
      		</enablement>
         </action>
         <action
               class="pathtools.ExploreAction"
               enablesFor="1"
               icon="icons/explore.gif"
               id="PathTools.Explore"
               label="Explore"
               menubarPath="pathtools/additions"
               style="push">
            <enablement>
	         <or>
	            <objectClass 
	               name="org.eclipse.core.resources.IResource"/>
	            <objectClass 
	               name="org.eclipse.core.runtime.IAdaptable"/>
	         </or>
      		</enablement>
         </action>
         <action
               class="pathtools.CopyPathAction"
               enablesFor="+"
               icon="icons/copypaths.gif"
               id="PathTools.CopyPath"
               label="Copy Paths"
               menubarPath="pathtools/additions"
               style="push">
			<enablement>
	         <or>
	            <objectClass 
	               name="org.eclipse.core.resources.IResource"/>
	            <objectClass 
	               name="org.eclipse.core.runtime.IAdaptable"/>
	         </or>
      		</enablement>
     	</action>   
		<visibility>
         <or>
            <objectClass 
               name="org.eclipse.core.resources.IResource"/>
            <objectClass 
               name="org.eclipse.core.runtime.IAdaptable"/>
         </or>
  		</visibility>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="pathtools.WorkbenchPreferencePage"
            id="PathTools.page"
            name="Path Tools">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="pathtools.PathToolsPreferences">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.core.variables.dynamicVariables">
      <variable
            description="Fully qualified path of selection in OS specific format."
            name="path"
            resolver="pathtools.PathToolsVariableResolver"
            supportsArgument="false">
      </variable>
      <variable
            description="Fully qualified path of selection with \ as the separator"
            name="path-backslashes"
            resolver="pathtools.PathToolsVariableResolver"
            supportsArgument="false">
      </variable>
      <variable
            description="Fully qualified path of selection with / as the separator"
            name="path-slashes"
            resolver="pathtools.PathToolsVariableResolver"
            supportsArgument="false">
      </variable>
      <variable
            description="Name of selection."
            name="name"
            resolver="pathtools.PathToolsVariableResolver"
            supportsArgument="false">
      </variable>
      <variable
            description="Extension of selection."
            name="extension"
            resolver="pathtools.PathToolsVariableResolver"
            supportsArgument="false">
      </variable>
      <variable
            description="Fully qualified path of selection&apos;s parent in OS specific format."
            name="parent-path"
            resolver="pathtools.PathToolsVariableResolver"
            supportsArgument="false">
      </variable>
      <variable
            description="Fully qualified path of selection&apos;s parent with / as the separator"
            name="parent-path-slashes"
            resolver="pathtools.PathToolsVariableResolver"
            supportsArgument="false">
      </variable>
      <variable
            description="Name of selection sans extension."
            name="name-sans-extension"
            resolver="pathtools.PathToolsVariableResolver"
            supportsArgument="false">
      </variable>
      <variable
            description="Fully qualified path of selection&apos;s parent with \ as the separatorrator"
            name="parent-path-backslashes"
            resolver="pathtools.PathToolsVariableResolver"
            supportsArgument="false">
      </variable>
      <variable
            description="Name of selection&apos;s parent"
            name="parent-name"
            resolver="pathtools.PathToolsVariableResolver"
            supportsArgument="false">
      </variable>
      <variable
            description="Name of selection&apos;s parent sans extension."
            name="parent-name-sans-extension"
            resolver="pathtools.PathToolsVariableResolver"
            supportsArgument="false">
      </variable>
      <variable
            description="Extension of selection&apos; parent."
            name="parent-extension"
            resolver="pathtools.PathToolsVariableResolver"
            supportsArgument="false">
      </variable>
   </extension>
</plugin>
