<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="PathTools.actionSet.toolbar"
            label="Path Tools"
            visible="true">
         <menu
               id="pathtools"
               label="Path Tools"
               path="File/additions">
            <groupMarker
                  name="additions">
            </groupMarker>
         </menu>
         <action
               class="pathtools.CustomWindowPulldownAction"
               icon="icons/command.gif"
               id="PathTools.Custom.toolbar"
               label="Custom commands..."
               menubarPath="File/pathtools/additions"
               style="pulldown"
               toolbarPath="Normal/PathTools">
         </action>
         <action
               class="pathtools.EditAction"
               icon="icons/editpath.gif"
               id="PathTools.Edit.toolbar"
               label="Open in external editor..."
               menubarPath="File/pathtools/additions"
               style="pulldown"
               toolbarPath="Normal/PathTools">
         </action>
         <action
               class="pathtools.ShellAction"
               icon="icons/shell.gif"
               id="PathTools.Shell.toolbar"
               label="Command Line Shell"
               menubarPath="File/pathtools/additions"
               style="push"
               toolbarPath="Normal/PathTools">
         </action>
         <action
               class="pathtools.ExploreWindowPulldownAction"
               icon="icons/explore.gif"
               id="PathTools.Explore.toolbar"
               label="Explore"
               menubarPath="File/pathtools/additions"
               style="pulldown"
               toolbarPath="Normal/PathTools">
         </action>
         <action
               class="pathtools.CopyPathWindowPulldownAction"
               icon="icons/copypaths.gif"
               id="PathTools.CopyPath.toolbar"
               label="Copy Paths"
               menubarPath="Edit/additions"
               style="pulldown"
               toolbarPath="Normal/PathTools">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="PathTools.objectContribution"
            objectClass="org.eclipse.core.resources.IResource">
  <menu
        id="pathtools"
        label="Path Tools"
        path="additions">
     <groupMarker
           name="additions">
     </groupMarker>
  </menu>
         <action
               class="pathtools.CustomAction"
               enablesFor="1"
               icon="icons/command.gif"
               id="PathTools.Custom"
               label="Custom"
               menubarPath="pathtools/additions"
               style="pulldown">
            <enablement>
	         <or>
	            <objectClass 
	               name="org.eclipse.core.resources.IResource"/>
	            <objectClass 
	               name="org.eclipse.core.runtime.IAdaptable"/>
	         </or>
      		</enablement>
         </action>
         <action
               class="pathtools.EditAction"
               enablesFor="1"
               icon="icons/editpath.gif"
               id="PathTools.Edit"
               label="Open in external editor..."
               menubarPath="pathtools/additions">
            <enablement>
	         <or>
	            <objectClass 
	               name="org.eclipse.core.resources.IResource"/>
	            <objectClass 
	               name="org.eclipse.core.runtime.IAdaptable"/>
	         </or>
      		</enablement>
         </action>
         <action
               class="pathtools.ShellAction"
               enablesFor="1"
               icon="icons/shell.gif"
               id="PathTools.Shell"
               label="Command Line Shell"
               menubarPath="pathtools/additions">
            <enablement>
	         <or>
	            <objectClass 
	               name="org.eclipse.core.resources.IResource"/>
	            <objectClass 
	               name="org.eclipse.core.runtime.IAdaptable"/>
	         </or>
      		</enablement>
         </action>
         <action
               class="pathtools.ExploreAction"
               enablesFor="1"
               icon="icons/explore.gif"
               id="PathTools.Explore"
               label="Explore"
               menubarPath="pathtools/additions"
               style="pulldown">
            <enablement>
	         <or>
	            <objectClass 
	               name="org.eclipse.core.resources.IResource"/>
	            <objectClass 
	               name="org.eclipse.core.runtime.IAdaptable"/>
	         </or>
      		</enablement>
         </action>
         <action
               class="pathtools.CopyPathAction"
               enablesFor="+"
               icon="icons/copypaths.gif"
               id="PathTools.CopyPath"
               label="Copy Paths"
               menubarPath="pathtools/additions"
               style="pulldown">
			<enablement>
	         <or>
	            <objectClass 
	               name="org.eclipse.core.resources.IResource"/>
	            <objectClass 
	               name="org.eclipse.core.runtime.IAdaptable"/>
	         </or>
      		</enablement>
     	</action>   
		<visibility>
         <or>
            <objectClass 
               name="org.eclipse.core.resources.IResource"/>
            <objectClass 
               name="org.eclipse.core.runtime.IAdaptable"/>
         </or>
  		</visibility>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="pathtools.WorkbenchPreferencePage"
            id="PathTools.page"
            name="Path Tools">
      </page>
   </extension>
</plugin>
