<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="PathTools.actionSet"
            label="Path Tools"
            visible="true">
         <action
               class="pathtools.CustomAction"
               enablesFor="1"
               icon="icons/command.gif"
               id="PathTools.Custom"
               label="Custom"
               menubarPath="File/additions"
               style="pulldown"
               toolbarPath="Normal/PathTools">
            <enablement>
               <or>
                  <objectClass
                        name="org.eclipse.core.resources.IResource">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.core.runtime.IAdaptable">
                  </objectClass>
	              <objectClass
	                    name="com.aptana.ide.core.ui.io.file.LocalFile"/>
               </or>
            </enablement>
         </action>
         <action
               class="pathtools.EditAction"
               enablesFor="1"
               icon="icons/editpath.gif"
               id="PathTools.Edit"
               label="Open in external editor..."
               menubarPath="File/additions"
               style="push"
               toolbarPath="Normal/PathTools">
            <enablement>
	         <or>
	            <objectClass 
	               name="org.eclipse.core.resources.IResource"/>
	            <objectClass 
	               name="org.eclipse.core.runtime.IAdaptable"/>
	            <objectClass
	               name="com.aptana.ide.core.ui.io.file.LocalFile"/>
	         </or>
      		</enablement>
         </action>
         <action
               class="pathtools.ExploreAction"
               enablesFor="1"
               icon="icons/explore.gif"
               id="PathTools.Explore"
               label="Explore"
               menubarPath="File/additions"
               style="pulldown"
               toolbarPath="Normal/PathTools">
            <enablement>
	         <or>
	            <objectClass 
	               name="org.eclipse.core.resources.IResource"/>
	            <objectClass 
	               name="org.eclipse.core.runtime.IAdaptable"/>
	            <objectClass
	               name="com.aptana.ide.core.ui.io.file.LocalFile"/>
	         </or>
      		</enablement>
         </action>
         <action
               class="pathtools.CopyPathAction"
               enablesFor="+"
               icon="icons/copypaths.gif"
               id="PathTools.CopyPath"
               label="Copy Paths"
               menubarPath="Edit/additions"
               style="pulldown"
               toolbarPath="Normal/PathTools">
			<enablement>
	         <or>
	            <objectClass 
	               name="org.eclipse.core.resources.IResource"/>
	            <objectClass 
	               name="org.eclipse.core.runtime.IAdaptable"/>
                <objectClass
                   name="com.aptana.ide.core.ui.io.file.LocalFile"/>
	         </or>
      		</enablement>
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation targetID="PathTools.actionSet">
         <part id="org.eclipse.jdt.ui.PackageExplorer"/>
		 <part id="org.eclipse.jdt.ui.ProjectsView"/>
		 <part id="org.eclipse.jdt.ui.PackagesView"/>
		 <part id="org.eclipse.ui.views.ResourceNavigator"/>
		 <part id="org.eclipse.jdt.ui.TypeHierarchy"/>
		 <part id="org.eclipse.ui.views.ContentOutline"/>
      </actionSetPartAssociation>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="PathTools.objectContribution"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               class="pathtools.EditAction"
               enablesFor="1"
               icon="icons/editpath.gif"
               id="PathTools.Edit"
               label="Open in external editor..."
               menubarPath="additions">
            <enablement>
	         <or>
	            <objectClass 
	               name="org.eclipse.core.resources.IResource"/>
	            <objectClass 
	               name="org.eclipse.core.runtime.IAdaptable"/>
	            <objectClass
	               name="com.aptana.ide.core.ui.io.file.LocalFile"/>
	         </or>
      		</enablement>
         </action>
         <action
               class="pathtools.ExploreAction"
               enablesFor="1"
               icon="icons/explore.gif"
               id="PathTools.Explore"
               label="Explore"
               menubarPath="additions">
            <enablement>
	         <or>
	            <objectClass 
	               name="org.eclipse.core.resources.IResource"/>
	            <objectClass 
	               name="org.eclipse.core.runtime.IAdaptable"/>
	            <objectClass
	               name="com.aptana.ide.core.ui.io.file.LocalFile"/>
	         </or>
      		</enablement>
         </action>
         <action
               class="pathtools.CopyPathAction"
               enablesFor="+"
               icon="icons/copypaths.gif"
               id="PathTools.CopyPath"
               label="Copy Paths"
               menubarPath="additions">
			<enablement>
	         <or>
	            <objectClass 
	               name="org.eclipse.core.resources.IResource"/>
	            <objectClass 
	               name="org.eclipse.core.runtime.IAdaptable"/>
                <objectClass
                   name="com.aptana.ide.core.ui.io.file.LocalFile"/>
	         </or>
      		</enablement>
     	</action>     
		<visibility>
         <or>
            <objectClass 
               name="org.eclipse.core.resources.IResource"/>
            <objectClass 
               name="org.eclipse.core.runtime.IAdaptable"/>
            <objectClass
               name="com.aptana.ide.core.ui.io.file.LocalFile"/>
         </or>
  		</visibility>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="pathtools.WorkbenchPreferencePage"
            id="PathTools.page"
            name="Path Tools">
      </page>
   </extension>
</plugin>
