<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="PathTools.actionSet.toolbar"
            label="Path Tools"
            visible="true">
         <action
               class="pathtools.CustomAction"
               icon="icons/command.gif"
               id="PathTools.Custom.toolbar"
               label="Custom"
               style="pulldown"
               toolbarPath="Normal/PathTools">
         </action>
         <action
               class="pathtools.EditAction"
               icon="icons/editpath.gif"
               id="PathTools.Edit.toolbar"
               label="Open in external editor..."
               menubarPath="File/additions"
               style="pulldown"
               toolbarPath="Normal/PathTools">
         </action>
         <action
               class="pathtools.ShellAction"
               icon="icons/shell.gif"
               id="PathTools.Shell.toolbar"
               label="Command Line Shell"
               menubarPath="File/additions"
               style="push"
               toolbarPath="Normal/PathTools">
         </action>
         <action
               class="pathtools.ExploreAction"
               icon="icons/explore.gif"
               id="PathTools.Explore.toolbar"
               label="Explore"
               menubarPath="File/additions"
               style="pulldown"
               toolbarPath="Normal/PathTools">
         </action>
         <action
               class="pathtools.CopyPathAction"
               icon="icons/copypaths.gif"
               id="PathTools.CopyPath.toolbar"
               label="Copy Paths"
               menubarPath="Edit/additions"
               style="pulldown"
               toolbarPath="Normal/PathTools">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="PathTools.objectContribution"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               class="pathtools.EditAction"
               enablesFor="1"
               icon="icons/editpath.gif"
               id="PathTools.Edit"
               label="Open in external editor..."
               menubarPath="additions">
            <enablement>
	         <or>
	            <objectClass 
	               name="org.eclipse.core.resources.IResource"/>
	            <objectClass 
	               name="org.eclipse.core.runtime.IAdaptable"/>
	         </or>
      		</enablement>
         </action>
         <action
               class="pathtools.ShellAction"
               enablesFor="1"
               icon="icons/shell.gif"
               id="PathTools.Shell"
               label="Command Line Shell"
               menubarPath="additions">
            <enablement>
	         <or>
	            <objectClass 
	               name="org.eclipse.core.resources.IResource"/>
	            <objectClass 
	               name="org.eclipse.core.runtime.IAdaptable"/>
	         </or>
      		</enablement>
         </action>
         <action
               class="pathtools.ExploreAction"
               enablesFor="1"
               icon="icons/explore.gif"
               id="PathTools.Explore"
               label="Explore"
               menubarPath="additions">
            <enablement>
	         <or>
	            <objectClass 
	               name="org.eclipse.core.resources.IResource"/>
	            <objectClass 
	               name="org.eclipse.core.runtime.IAdaptable"/>
	         </or>
      		</enablement>
         </action>
         <action
               class="pathtools.CopyPathAction"
               enablesFor="+"
               icon="icons/copypaths.gif"
               id="PathTools.CopyPath"
               label="Copy Paths"
               menubarPath="additions">
			<enablement>
	         <or>
	            <objectClass 
	               name="org.eclipse.core.resources.IResource"/>
	            <objectClass 
	               name="org.eclipse.core.runtime.IAdaptable"/>
	         </or>
      		</enablement>
     	</action>     
		<visibility>
         <or>
            <objectClass 
               name="org.eclipse.core.resources.IResource"/>
            <objectClass 
               name="org.eclipse.core.runtime.IAdaptable"/>
         </or>
  		</visibility>
      </objectContribution>
      <objectContribution
            id="PathTools.objectContribution.aptana"
            objectClass="com.aptana.ide.core.ui.io.file.LocalFile">
         <action
               class="pathtools.EditAction"
               enablesFor="1"
               icon="icons/editpath.gif"
               id="PathTools.Edit.aptana"
               label="Open in external editor..."
               menubarPath="additions">
         </action>
         <action
               class="pathtools.ShellAction"
               enablesFor="1"
               icon="icons/shell.gif"
               id="PathTools.Shell.aptana"
               label="Command Line Shell"
               menubarPath="additions">
         </action>
         <action
               class="pathtools.ExploreAction"
               enablesFor="1"
               icon="icons/explore.gif"
               id="PathTools.Explore.aptana"
               label="Explore"
               menubarPath="additions">
         </action>
         <action
               class="pathtools.CopyPathAction"
               enablesFor="+"
               icon="icons/copypaths.gif"
               id="PathTools.CopyPath.aptana"
               label="Copy Paths"
               menubarPath="additions">
     	</action>     
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="pathtools.WorkbenchPreferencePage"
            id="PathTools.page"
            name="Path Tools">
      </page>
   </extension>
</plugin>
